.gitignore
booksyAPI/*
!booksyAPI/pyproject.toml
!booksyAPI/LICENSE
!booksyAPI/src
booksyAPI/src/*
!booksyAPI/src/booksyCORSproxy
!booksyAPI/src/booksyCORSproxy/__init__.py
!booksyAPI/src/booksyCORSproxy/views.py
testenv
test2